@model List<OrderViewModel>

<h1>Order Statistics</h1>

<table class="table table-striped">
   
    <tbody>
        <tr>
            <td>Number of Orders</td>
            <td>@Model.Count</td>
        </tr>

    </tbody>
</table>